BraveSoftware/
chromium/
dconf/
eas-cli-nodejs/
evolution/
expressvpn/
fish/
font-manager/
github-copilot/
glib-2.0/
google-chrome/
goa-1.0/
gtk-3.0/
gtk-4.0/
guake/
ibus/
menus/
nautilus/
nextjs-nodejs/
polybar.*/
pulse/
thefuck/
update-notifier/
yelp/


.gsd-keyboard.settings-ported
GNOME-xdg-terminals.list
gnome-initial-setup-done
mimeapps.list
monitors.xml
monitors.xml~
ubuntu-xdg-terminals.list
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
